@import "tailwindcss";
@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/font/FoundersGroteskXCond-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/font/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}